body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;  /* Black background for the page */
}

.background {
    background-image: url('your-background-image-3.jpg'); /* Replace with your actual image path */
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-form {
    background-color: #799163; /* Solid white background */
    width: 300px; /* Square dimensions */
    height: 300px;
    padding: 20px;
    border-radius: 15px; /* Rounded corners */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5); /* Stronger shadow for contrast */
}

.signup-form h1 {
    text-align: center;
    margin-top: -20px;
    margin-bottom: 40px; /* Space below header */
    color: #EDE0A6; /* Red color for the header */
}

.signup-form form {
    width: 100%; /* Ensure form uses full width of the signup box */
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="email"] {
    width: 80%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #507B58; /* Green border */
    border-radius: 4px; /* Rounded corners */
    color: #000; /* Black text */
    background-color: #EDE0A6; /* White background to ensure text is readable */
}

input[type="name"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #507B58; /* Green border */
    border-radius: 4px; /* Rounded corners */
    color: #000; /* Black text */
    background-color: #EDE0A6; /* White background to ensure text is readable */
}

button {
    width: 80%;
    background-color: #AB3131; /* Green button */
    color: #000; /* Black text */
    border: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #540202; /* Darker green on hover */
}
